<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Flask Website</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% block extra_styles %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('movies') }}">Visual Odyssey</a></li>
        <li><a href="{{ url_for('music') }}">Cyber Sonata</a></li>
        <li><a href="{{ url_for('games') }}">AI Showdowns</a></li>
        <li><a href="{{ url_for('story') }}">Binary Books</a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
  
  <footer>
    <p>&copy; 2025 ViSuReNa</p>
  </footer>
</body>
</html>
