{% extends "base.html" %}
{% block extra_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}

{% block content %}
  <h1>Blog</h1>
  <div class="posts-container">
    {% for post in posts|sort(attribute='date')|reverse %}
      <div class="post-card">
        {% if post.image %}
          <div class="post-image">
            <img src="{{ post.image }}" alt="{{ post.title }} Banner">
          </div>
        {% endif %}
        <div class="post-info">
          <h2><a href="{{ url_for('blog_post', slug=post.slug) }}">{{ post.title }}</a></h2>
          {% if post.date %}
            <p class="post-date"><small><b>Published on {{ post.date }}</b></small></p>
          {% endif %}
          {% if post.introduction %}
            <p class="post-intro">{{ post.introduction }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
